.button{
    transition: 0.2s;
    padding-left: 0.3em;
    padding-right: 0.3em;
    color: $pal-text-footer;

    &:hover{
        cursor: pointer;
        text-decoration: none;
        color: orangered;
        transition: 0.2s;

    }
}
