
.viewAbout{
    @extend .center;
    
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 20em;
    width: 30em;
}

.content {
    padding: 5em;
}

.pic {
    height: 20em;
    padding: 2em;
}