
.viewHeader {
    @extend .center;
    
}

.container {
    box-sizing: border-box;
    @extend .center;
    width: 100%;

    flex-direction: row;
    background-color: $pal-footer;
    padding: 1.5em;
}


.signature {
    @extend .center;
    padding-left: 2em;
    padding-right: 3em;
}
