
// Color palette

// $pal-main: #E03C0E;
// $pal-sec: #FFFFFF;
// $pal-text: #000000;
// $pal-det: #F4F4F4;
// $pal-footer: #1E9EAC;
// $pal-text-footer: #5A5A5A5A;

$pal-main: #252b3a;
$pal-sec: #FFFFFF;
$pal-text: #000000;
$pal-det: #F4F4F4;
$pal-footer: #1E9EAC;
$pal-text-footer: #09101f5a;

// Flex display

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 50em){
    
}