
// Color palette

$pal-main: #252b3a;
$pal-sec: #FFFFFF;
$pal-text: #000000;
$pal-det: orangered;
$pal-footer: #09101f;
$pal-text-footer: #1E9EAC;

// Flex display

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    box-sizing: border-box;
    @extend .center;
    width: 100%;
    padding: 2%;
}

.row {
    flex-direction: row;
}
